body {
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(117, 20, 20);
}

img {
    display: flex;
    float: left;
    padding: 15px 0px 0px 25px;
    width: 90px; 
}

.menu-btn {
    color: white;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

.menu-login {
    position: absolute;
    right: 100px;
    top: -20px;
    font-size: 12px;
}

header .main-menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    margin: 0 20vw 0 20vw;
    padding: 0;
}

header .main-menu li, .menu-login {
    list-style-type: none; 
}

li {
    padding-top: 35px;
}

.menu-btn:hover {
    cursor: pointer;
    color: gray;
}

.mhead {
    background-color: rgb(117, 20, 20); 
}

.mhead img {
    width: 70px; 
}

h1 {
    font-size: 26px;
    padding: 20px;
}

.login, .signup {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 42%;
}

.layer {
    bottom: 0;
    background-color: white;
    height: 100%;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    opacity: 40%;
}

.signup {
    width: 50%;
}

.signup-modal, .login-modal {
    background-color: rgb(196, 74, 74);
    box-shadow: 0px 0px 3px black;
    bottom: 0;
    color: #fff;
    height: 70vh;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 55vw;
    z-index: 3;
}

span {
    font-style: italic;
}

.hidden {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
}

.close-btn {
font-family: 'Varela Round', sans-serif;
font-size: 35px;
font-weight: bold;
position: absolute;
right: 20px;
top: 5px;
}

.close-btn:hover {
cursor: pointer;
opacity: 40%;
animation-name: spin;
animation-duration: 600ms;
animation-fill-mode: forwards;
}

.close-btn:not(:hover) {
    cursor: pointer;
    animation-name: spin1;
    animation-duration: 600ms;
    }

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(-90deg); 
    }
}

@keyframes spin1 { 
    from { 
        transform: rotate(-90deg); 
    } to { 
        transform: rotate(0deg); 
    }
}

.open-signup {
    cursor: pointer;
    color: rgb(68, 78, 230);
    font-weight: bold;
}